body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
    padding-left: 20px;

}

aside > a {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.6;
}
header {
    background: #111;
    flex-direction: row;
    width: calc(100vw - 250px);
    justify-content: flex-end;
    padding-top: 20px;
    text-transform: uppercase;

}
#upgrade {
  border: solid 1px #CCC;
  padding: 5px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0.6;
}
#profile {
  border: solid 1px #303030;
  padding: 5px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #303030;
  opacity: 0.6;

}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: uppercase;
    opacity: 0.6;
}
nav > a {
  padding: 10px;

}

#featured-content img {
width: 100%;
border-radius: 250px;

}


.artist-card {
  width: 18%;
  border-radius: 20px;
  display: flex;
  background-color: #303030;
  align-items: center;
  margin-top: 10px;
}

#featured-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
.artist-card div {
  height: 100%;
  padding: 20px;
}
.artist-card h3, p {
  align-items: left;


}

footer {
    background: #222;
    grid-area: bottom;
}


@media screen and (max-width: 1000px) {
  .artist-card {
    width: 32%

  }
}

@media screen and (max-width: 700px) {
  .artist-card {
    width: 45%;
    height: auto;
  }
  body {
  overflow: hidden;
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
     "main"
     "bottom";
  height: 100vh;
}
aside, #upgrade {
  display: none;
}
}

  nav {
    flex: none;
  }
}
nav > a:hover {
  border-bottom: solid 2px green;
  opacity: 100;

}
aside > a:hover {
  border-left: solid 2px green;
  opacity: 100;
}
#upgrade:hover {
  opacity: 100;
}
#profile:hover {
  opacity:100;
}
.artist-card:hover {

}
}
/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}
