
html {
    box-sizing: border-box;
    /* background: #EEE; */
}
*, *:before, *:after {
    box-sizing: inherit;

}
body {
    margin: 0px;
    background-image: url('layer0.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  display: grid;
  grid-template-rows: 10vh 60vh;
  grid-template-columns: 15vw auto 15vw;
  grid-template-areas:
    'logo . search'
    'article article article';
  grid-gap: 10px;
  padding: 10px;
  overflow: scroll;
}
/* Layout */
#logo {
  grid-area: logo;
}
#searchbar {
  display: flex;
  grid-area: search;
  justify-content: flex-end;

  }
#searchbar a {
  font-size: 2em;
  margin-left: 30px;
  margin-top: 10px;

}
main {
    grid-area: article;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    }

h1 {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding: 0px;
  }
  h3 {
    font-family: gothic-open-shaded, sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 5px;
    font-size: 75px;
    margin-bottom: 0px;

  }
  .PurpleWord {
    font-family: gothic-open-shaded, sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: normal;
    color: #c47fff;
    padding: 5px;
    font-size: 40px;

  }
  .OrangeWord {
    font-family: gothic-open-shaded, sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: normal;
    color: #ee6e00;
    padding: 5px;
    font-size: 40px;

  }
  .GreenWord {
    font-family: gothic-open-shaded, sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: normal;
    color: #38e27c;
    padding: 5px;
    font-size: 40px;

  }
#glossery {
  display: flex;
  border-radius: 25px;
  padding: 20px;

}
.grid-container {
display: grid;
grid-row-gap: 30px;
grid-template-columns: auto auto auto;
padding: 10px;
justify-content: center;
}

.grid-item {
background-color: white;

box-shadow: 5px 10px gray;
padding: 20px;
font-size: 20px;
text-align: center;
margin-left: 20px;
}

#states {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;

}
#states .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;


}
#states img {
  width: 300px;
  height: 300px;
}
#states img , #states .caption {

}

.selected {
  color: white;
  font-size: 100px;
}

.caption {
  font-size: 50px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;

}
